{% if site.color-scheme == "dark" %}
<nav class="navbar navbar-dark bg-dark">
{% elsif site.color-scheme == "blue" %}
<nav class="navbar navbar-dark bg-primary">
{% elsif site.color-scheme == "red" %}
<nav class="navbar navbar-dark bg-danger">
{% else %}
<nav class="navbar navbar-light bg-light">
{% endif %}
    <a class="navbar-brand" href="{{site.url | relative_url }}">
        {% if site.brand.logo %}
            <img src="{{ site.brand.logo | relative_url }}" width="30" height="30" alt="{{site.title}}" loading="lazy">
        {% endif %}
        {% if site.brand.logo-text %}
            <span>{{site.brand.logo-text}}</span>
        {% endif %}
    </a>
    {% if site.social.links %}
        <ul class="social-icons">
        {% for link in site.social.links %}
            {% if link.label and link.url %}
                {% if site.color-scheme == "blue" or site.color-scheme == "dark" or site.color-scheme == "red" %}
                    <li><a href="{{ link.url}}"><i style="color: whitesmoke" class="{{ link.icon}}"></i></a></li>
                {% else %}
                    <li><a href="{{ link.url}}"><i style="color: #444;" class="{{ link.icon}}"></i></a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</nav>